.activ {
  background: #1d1f22;
  color: white;
}
.activ:hover {
  background: #909090;
}

.nonActiv {
  background: white;
}
.nonActiv:hover {
  background: #909090;
}

.curencyContainer {
  display: flex;
  cursor: pointer;
}
.curencyContainer img {
  align-items: center;
  padding-left: 10px;
  width: 6px;
  height: 3px;
}
.curencyContainer span {
  width: 34px;
  padding-top: 2px;
}

.currencyDropDown {
  display: block;
  position: fixed;
}

.queryCurrencyLoading {
  width: 50px;
}
.queryCurrencyLoading span {
  font-size: 14px;
}