.activ {
  background: #69bdc0;
}

.nonActiv {
  background: white;
}

.curencyContainer {
  display: flex;
}
.curencyContainer img {
  align-items: center;
  padding-left: 10px;
  width: 6px;
  height: 3px;
}

.currencyDropDown {
  display: block;
  position: fixed;
}