.activ {
  
  background: #1d1f22;
  color: rgb(255, 255, 255);
}

.nonActiv {
  background: rgb(255, 255, 255);
}
.curencyContainer {
  display: flex;
  img {
    align-items: center;
    padding-left: 10px;
    width: 6px;
    height: 3px;
  }
  span {
    width: 34px;
  }
}
.currencyDropDown {
  display: block;
  position: fixed;
}
.queryCurrencyLoading {
  width: 50px;
  span {
    font-size: 14px;
  }
}
